<phpunit>
	<testsuites>
		<testsuite>
			<file>tests/mainTest.php</file>
			<file>tests/apiTest.php</file>
			<file>tests/formTest.php</file>
			<file>tests/loginformTest.php</file>
			<file>tests/clearningTest.php</file>
		</testsuite>
	</testsuites>
	<php>
		<const name="WEB_SERVER_HOST" value="localhost" />
		<const name="WEB_SERVER_PORT" value="3000" />
		<const name="WEB_SERVER_DOCROOT" value="./tests/testdata/htdocs/" />
	</php>
</phpunit>
