<tr>
<th style="width:30%;">{{ def.label }}</th>
<td style="width:70%;">
	<div class="form-group{% if error %} has-error{% endif %}">
		{% if def.type == "string" %}
			<input type="text" name="{{ def.name }}" value="{{ value }}" class="form-control" />
		{% elseif def.type == "email" %}
			<input type="email" name="{{ def.name }}" value="{{ value }}" class="form-control" />
		{% elseif def.type == "date" %}
			<input type="date" name="{{ def.name }}" value="{{ value }}" class="form-control" />
		{% elseif def.type == "datetime" %}
			<input type="datetime" name="{{ def.name }}" value="{{ value }}" class="form-control" />
		{% elseif def.type == "password" %}
			<input type="password" name="{{ def.name }}" value="{{ value }}" class="form-control" />
		{% else %}
			<textarea name="{{ def.name }}" class="form-control">{{ value }}</textarea>
		{% endif %}
		{% if error %}
			<span class="help-block">{{ error }}</span>
		{% endif %}
	</div>
</td>
</tr>
