<h2>{{ table_label }}</h2>
<p>Max: {{ count }}</p>
<table class="table">
<thead>
<tr>
<th></th>
{% for key,val in list[0].val %}
<th>{{ key }}</th>
{% endfor %}
</tr>
</thead>
<tbody>
{% for row in list %}
<tr>
<td><a href="{{ row.href }}" class="btn btn-default">DETAIL</a></td>
{% for key,val in row.val %}
<td>{{ val }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>

<ul>
{% if(prev) %}<li><a href="{{ prev.href }}">PREV</a></li>{% endif %}
<li>{{ page }}/{{ max_page }}</li>
{% if(next) %}<li><a href="{{ next.href }}">NEXT</a></li>{% endif %}
</ul>

<p><a href="{{ href_create }}" class="btn btn-primary">CREATE NEW</a></p>
