<table class="table">
{{ content|raw }}
</table>

<div class="text-center">
    <form action="{{ action }}" method="post" style="display:inline;">
        <button class="btn btn-primary">保存する</button>
        <input type="hidden" name=":action" value="write" />
        {{ hidden|raw }}
    </form>
    <form action="{{ action }}" method="post" style="display:inline;">
        <button class="btn btn-default">修正する</button>
        <input type="hidden" name=":action" value="input" />
        {{ hidden|raw }}
    </form>
</div>



{% if( href_backto ) %}
<div class="text-left">
    <a href="{{ href_backto }}" class="btn btn-link">キャンセル</a>
</div>
{% endif %}
